*{
    margin:0px;
    padding:0px;
}
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-family: PingFangSC-Medium;
    background-color: rgba(255,255,255,1);
    position: relative;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.top {
    position: relative
}

.mescroll {
    position: fixed;
    top: 0px;
    bottom: 0;
    height: auto;
}
.main {
    width: 100%;
}
.maintop {
    padding:0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 44px;
    background: rgba(255,255,255,1);
}
    .maintop img{
        width:20px;
        height:20px;
    }
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 0px 0px rgba(221,221,221,1);
    border-bottom: 6px solid rgba(245,246,247,1);
}
.header-left {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: rgba(37,39,42,1);
    line-height: 14px;
}
.money {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right:3.8vw;
}
.content-footer a {
    text-decoration: none;
    color: rgba(37,39,42,1);
}
.moneytext {
    font-size: 10px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(153,153,153,1);
    line-height: 10px;
}
.recharge {
    width: 74px;
    height: 28px;
    border: 1px solid rgba(255,148,0,1);
    border-radius: 15px;
    font-size: 10px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(255,148,0,1);
    line-height: 10px;
}
.header-leftimg {
    width: 32px;
    height: 30px;
    margin: 0px 6px 0px 0px;
    padding-left:3.8vw;
}
.header-leftimg img {
    width: 32px;
    height: 30px;
}
.people {
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(37,39,42,1);
    line-height: 14px;
}
        .header-right > div {
        width: 74px;
        height: 28px;
        border-radius: 15px;
        border: 1px solid rgba(255,148,0,1);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255,148,0,1);
        line-height: 12px;
    }
.goodsname {
    margin: 10px 0px 6px 0px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(37,39,42,1);
    line-height: 14px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.goodspricetext {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(153,153,153,1);
    line-height: 14px;
}
.numcount {
    display:flex;
    align-items:center;
    justify-content:center;
    padding:3px 5px;
    font-size: 10px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(153,153,153,1);
    line-height: 10px;
    text-align:center;
    height: 16px;
    background: rgba(237,238,240,1);
    border-radius: 8px;
    margin-bottom:5px;
}
/*内容*/
.content {
    background: rgba(255,255,255,1);
    padding-left: 3.8vw;
    padding-right: 3.8vw;
    margin-bottom: 65px;
}
.content-hearder {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #E9E9E9;
}
.content-hearder-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.content-footer {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap:  wrap;
}
.border-box {
    width: 44vw;
    height: 60vw;
}
.goods {
    width: 43vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 5px;
}
a:nth-child(2n+1){
    margin-right:4vw;
}
.goodsimg {
    width: 43vw;
    height: 31.2vw;
    background: rgba(245,246,247,1);
    border: 1px solid rgba(245,246,247,1);
}
    .goodsimg img {
        width: 42vw;
        height: 31.2vw;
    }
.order{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
}
.order > div{
    width:9px;
    height:10px;
    margin-right:3px;
}
    .order > div img {
        width: 9px;
        height: 10px;
    }
.goodsprice {
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(242,79,79,1);
    line-height: 14px;
}
.downwarp-tip {
    display: flex;
    align-items: center;
    justify-content: center;
}