body,html{
    font-family: PingFangSC-Regular;
    color: #333333 ;
    background-color: #ffffff;
}

.m-cell-top{
    width:100%;
    height: 42vw;
    padding: 0.6rem;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    background: url('../img/icon-bg.png')no-repeat;
    background-size: contain;
}

.m-cell:after{
    border-bottom: none !important;
}

.m-cell-bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0 !important;
    background: #FFFFFF;
    box-shadow: 0 -4px 4px 0 rgba(221,221,221,0.50);
}
.m-cell-bottom .cell-top{
    min-height:1.6rem;
}

.m-cell-top .cell-top{
    min-height:1.4rem;
}
.m-cell-top .cell-top span{
    font-family: PingFangSC-Medium;
    font-size: 26px;
}

.cell-wrap{
    /*flex-wrap: wrap;*/
    display: flex;
    align-items: center;
}
.cell-wrap span{
    /*position: relative;*/
    /*width: 100%;*/
}
.cell-wrap-top{
    /*margin-top: 0.1rem;*/
    font-family: DINAlternate-Bold;
    font-size: 18px;
    color: #F24F4F;
}
.cell-wrap-down{
    /*margin-top: -0.6rem;*/
    font-size: 12px;
    color: #AAAAAA;
}

#exchange span{
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.74rem;
    background: #FFDA21;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #905900;
}

.integral-content{
    max-height: 300px;
    overflow: auto;
}

#integral_list .title{
    padding: 0.3rem;
    text-align: start;
}

.confirm-hd{
    text-align: center;
}
.confirm-bd{
    white-space: pre-wrap;
}

.amount span{
    color: #F04343
}
.ratio{
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #000000;
}
.integral{
    font-size: 12px;
    color: #999999;
}

.cell-container{
    font-family: PingFangSC-Medium;
    color: #222222;
}
.cell-container .perch{
    width: 0.6rem;
    height: 0.6rem;
    display: block;
    background: url("../img/icon-gold.png") no-repeat;
    background-size: 100% 100%;
}
.convert-btn{
    /*height: 0.64rem;*/
    /*line-height: 0.64rem;*/
    /*padding: 0 10px;*/
    /*background: #FFC648;*/
    /*border-radius: 4px;*/
    color: #999999;
    padding-right: 0.3rem;
}

.convert-ban{
    /*height: 0.64rem;*/
    /*line-height: 0.64rem;*/
    /*padding: 0 10px;*/
    /*background: #F1F1F1;*/
    color: #999999;
    padding-right: 0.3rem;
    /*border-radius: 4px;*/
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid #333333;
    padding: 2px;
}

.circle span{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 100%;
    background: #ffffff;
}

.circle .active{
    background: #FDE423 !important;
}

.opacity{
 opacity: 0.5 !important;
}
.pad{
    padding:0 0.2rem;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 0.3rem 0;
}

.submit span{
    width: 80%;
    padding: 0.3rem;
    font-size: 16px;
    color: #905900;
    border-radius: 100px;
    background-image: linear-gradient(124deg, #FFDA21 0%, #FFBE00 100%);
    font-family: PingFangSC-Medium;
}


.dinaBold{
    font-family: DINAlternate-Bold;
}
.m-cell-txt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.gold-img{
    width: 30px;
    height: 30px;
}
#record{
    font-size: 40px;
    padding-left: 0.2rem;
}
#ratio{
    font-size: 20px;
}
.ratio-txt{
    flex: 1;
    font-size: 16px;
}
.lift{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.lift span{
    color: #905900;
    font-size: 14px;
    padding: 0.1rem 0.2rem;
    font-family: PingFangSC-Medium;
    background: #FDE423;
    border-radius: 100px;
}
.rule{
    padding: 0.4rem;
}
.rule-tltle{
    position: relative;
    font-size: 16px;
    color: #000000;
    padding-left: 0.2rem;
    font-family: PingFangSC-Medium;
    z-index: 4;
    margin-bottom: 0.3rem;
}
.rule-tltle:before{
    content: '';
    width: 25%;
    height: 5px;
    position: absolute;
    bottom: 0;
    margin-left: -3%;
    background: #FDE423;
}

.gold-record{
    background: rgba(0,0,0,0.2);
    padding:0.1rem 0.2rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.2rem;
}

.gold-record img{
    height: 10px;
    padding-left: 5px;
}