.showMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    padding: 10px 10px;
    opacity: 0.8;
    background-color: #333333;
    border-radius: 5px;
    z-index: 9999999;
}
    .showMsg .text {
        display: flex;
        color: white;
        font-size: 10pt;
        font-family: "Î¢ÈíÑÅºÚ";
    }