* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    position: relative;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top {
    width: 100%;
    height: 56vw;
    background-color: slategrey;
    position: relative;
    background-size: cover !important;
}

.topMsg {
    width: 100%;
    color: rgba(255, 255, 255, 1);
    height: 56vw;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.message {
    width: 66px;
    height: 26px;
    background: url('../image/icon-messageBg.png') no-repeat 100%/100%;
    justify-content: center;
    line-height: 26px;
    color: rgba(40, 40, 40, 1);

}

.message img {
    width: 14px;
    height: 12px;
    vertical-align: middle;
    margin-right: 5px;
}

.attention {
    width: 19.4vw;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: url('../image/icon-personal_action.png') no-repeat 100%/100%;
    background-size: contain;
    margin-bottom: 7px;
    color:rgba(255,204,3,1);
}

.num {
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
    font-family:DINCondensed-Bold,DINCondensed;
}

.constellation {
    width: 50px;
    height: 14px;
    background: url('../image/icon-personalconstellation.png') no-repeat 100%/100%;
    text-align: center;
    /* line-height: 16px; */
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.address {
    width: 60px;
    height: 14px;
    text-align: center;
    /* line-height: 16px; */
    background: url('../image/icon-personalconstellation.png') no-repeat 100%/100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

@media screen and (max-width: 320px) {
    .num {
        font-size: 24px;
    }
}

.conetnt {
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 70px;
    height: 80vw
}

.tab {
    display: flex;
    padding: 0 15px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:500;
    color:rgba(40,40,40,1);
    /* display: none; */
}
/* .notab{
    display: flex;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(40,40,40,1);
    padding: 10px 0;
    font-size: 16px
}
.notab span {
    padding: 0 15px;
} */

.tabitem {
    padding: 10px 0;
    font-size: 16px;
    color: rgba(40, 40, 40, 1);
}

.tabitem.active {
    border-bottom: 2px solid rgba(255, 204, 3, 1);
    font-family:PingFangSC-Medium,PingFang SC;
}

.worksitem {
    margin-bottom: 15px;
    height: 63px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    width: 100%;
}

.itemLeft {
    flex: 2;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family:PingFangSC-Medium,PingFang SC;
}
.itemLeftno{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.itemRight {
    position: relative;
    height: 100%;
    width: 110px;
}

.time {
    font-size: 10px;
}

.paly {
    position: absolute;
    width: 33px;
    height: 37px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vertical {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: wrap;
}
.bottommsg{
    width: 100%;
    padding: 10px 0;
    position: fixed;
    bottom: 5px;
    left: 0;
    background:linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    padding-bottom: env(safe-area-inset-bottom)
}
.bottom{
    width: 61vw;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size:16px;
    font-weight:500;
    color:rgba(255,204,3,1);
    margin: 0 auto;
    background: url("../image/icon-personalGo.png") no-repeat ;
    background-size: contain;
}
.mescroll{
    width: 100%;
}
.nolength{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.navigation{
    padding: 5px 20px;
    font-weight:500;
    color:rgba(40,40,40,1);
    font-family:PingFangSC-Medium,PingFang SC;
    
}
.logo{
    width: 29px;
    height: 29px;
    vertical-align: middle;
    margin-right: 10px;
}
.download{
    width: 82px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: url('../image/icon-downloadBg.png') no-repeat 100%/100%;
}
.shareModal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.5);
    display: none;
}
.shareModal img{
    width: 53vw;
    height: 38.6vw;
    position: fixed;
    right: 47px;
    top: 16px;
}
.gender{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 8px;
}
.noData{
    display: none;
    text-align: center;
    padding-top: 50px;
}