html,body{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
.page{
    width: 100%;
    min-height: 100%;
    position: absolute;
    background: url('../img/remind-bg.jpg') no-repeat;
    background-size: 100% 100%;
    display: block;
}
header img{
    width: 33%;
    margin-top: 20px;
    margin-left: 20px;
}
input{
    width: 70%;
    text-indent: 10px;
    border-width: 0;
    border-radius: 6px;
    height: 15vw;
    font-size: 16px;
    color: #583A06;
    outline:none;
}


.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    flex-direction: column;
    padding: 30px;
    font-size: 26px;
    color: #FFFFFF;
}
.title img{
    position: absolute;
    height: 45px;
    margin-left: -15px;
    margin-top: -18px;
}
.num{
    color: #FFED00;
}
.phone{
    margin-top: 30px
}
.error{
    height: 30px;
    color: #FFFFFF;
    padding: 15px;
}
.error span{
    display: none
}
.btn{
    width: 70%;
    height: 15vw;
    color: #583A06;
    text-align: center;
    background: url('../img/remind-btn-1.png')no-repeat;
    background-size:contain;
    margin-bottom: 20px;
}
.isShow{
    display: flex!important;
}

.modal-error{
    color: #FFFFFF;
    padding: 10px ;
    font-size: 12px;
    height: 30px;
}
.modal-error span{
    display: none;
}
.getCode,.submit{
    width: 100% !important;
}
.showModel{
    display: none;
}

.modal{
    position: fixed;
    left: 0;
    top: 25%;
    width:100%;
    z-index: 101;
}

.mask{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
    z-index: 100;
    background:rgba(0,0,0,0.5);
}

.modal-content{
    width: 80%;
    margin: 0 auto;
    background: #7E2BC6;
    font-family: "微软雅黑";
    border-radius: 10px;
    padding-bottom: 20px;
}

.rule .modal{
    top:15%;
}
.rule .modal-content{
    width: 90% !important;
}

.modal-line-box.amount-title{
    padding: 20px 10px 10px;
    text-align: center;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #FFFFFF;
}

.modal-line-box.amount-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;
    color: #666666;
    font-size: 16px;
}

.modal-line-box.amount-button div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-line-box.amount-button img{
    height: 40px;
}
.modal-line-box.amount-button span{
    margin-top: 5px;
}
.down{
    width: 100%;
    height: 100%;
    position: absolute;
}
.down .left{
    width: 100%;
    position: relative;
    z-index: 199;
}
.down .right{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 199;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down-tips{
    width: 60%;
    float: right;
}
.down-succee{
    width: 20%;
}