* {
    padding: 0;
    margin: 0
}

html,
body {
    width: 100%;
    height: 100%;
    background: rgba(36, 36, 36, 1);
    font-size: 14px;
    color: rgba(254, 254, 254, 1);
    position: relative;
    font-family:Microsoft Yahei
}

.main {
    width: 1200px;
    margin: 0 auto
}

ul,
li {
    list-style: none;
}

.top_tab {
    padding: 28px 35px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    position: relative\9;
}

.final_content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center
}

.final_content span {
    /* padding: 16px 169px; */
    width: 398px;
    height: 54px;
    line-height: 54px;
    background: rgba(20, 23, 26, 1);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold
}

.final_content span.active {
    background: rgba(248, 172, 24, 1);
    color: rgba(20, 23, 26, 1)
}

.content {
    padding: 0 35px
}

.child_tab ul {
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    scrollbar-width: transparent;
    -ms-overflow-style: none;

}

.child_tab ul li {
    width: 100px;
    background: rgba(20, 23, 26, 1);
    margin-right: 10px;
    font-size: 18px;
    padding: 8px 0;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-weight: bold
}

.child_tab ul li.active {
    background: rgba(248, 172, 24, 1);
    color: rgba(20, 23, 26, 1);
    background-color: #f8ac18 \9;
    color: #1d1e1c \9
}

.child_tab ul li:last-child {
    margin-right: 0px
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

/*  */
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    color: rgba(254, 254, 254, 1);
    table-layout: fixed;
    display: table
}

th {
    text-align: center
}

th,
tr {
    border: none
}


thead,
tr {
    width: 100%;
    height: 54px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
td{
    width: 100%
}
tbody tr{
    height: 66px;
}


thead,
tbody tr:nth-child(2n) {
    background-color: #131212;
}

tbody tr:nth-child(odd) {
    background-color: #2c2b2c
}

.team_playername {
    width: 141px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
tbody{
    width: 100%;
    max-height: 660px;
    overflow: auto;
    display: inline-block

}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.content_tbody{
    background: #363636
}

.nolength{
width: 100%;
line-height: 660px

}

/* 滚动条 */
.data_list::-webkit-scrollbar{
    width: 0;
    height: 0;
    background-color: transparent;
}
.content_tbody::-webkit-scrollbar {
    width: 5px;
    min-height:28px;
    background:rgba(19,17,17,1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.content_tbody::-webkit-scrollbar-thumb {
    background-clip:padding-box;
    width: 5px;
    min-height:28px;
    background:rgba(84,84,84,1);
    border-radius:8px;
    cursor: pointer;
}
.content_tbody::-webkit-scrollbar-thumb:hover {
    background:rgba(84,84,84,1);
}
.coloryellow{
    color:rgba(248,164,32,1);
}
.content_tbody tr td:nth-child(n+3){
    font-size: 18px;
    font-family:PingFangSC-Medium;
    font-weight:500;
}
.child_tab{
    position: relative;
    overflow: hidden;
    margin: 0 19px
}
.bd{
    margin: 0 48px;
}

.hd img{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 999;

}
.prev{
    top: 5px;
    left: 0px;
    

}
.next{
    top: 5px;
    right: 0px;


}
.data_table{
    margin-top: 20px

}
