@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1547949671452'); /* IE9 */
  src: url('iconfont.eot?t=1547949671452#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAM8AAsAAAAABzgAAALtAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqCDIIKATYCJAMMCwgABCAFhG0HSxtlBhEVlC1kX2HcwoNomauFBSLgtRZsihwKXDxogShIAAAAAIAgov1+s7f35JvRIIlGyKIRkknCEx5/QpJYpnST0EyiWJT4NmerLsZEmL1y5zfP5/uk7d7ssoznPE6jFEKiUSRAANn836zB2dICzMOfhXuJTiqdA+8AOz3qnl8DiM6ac8oRxxRprS3ofJ/ncGnTEpgfKJe5B/UCjAMKaG+MIiuQE/RbZBdxJy7iOQQIU6SaNLcKIuRjQesEkKnxxIP8ggHbUS74CG7DUYus4+CbVfNDsRb9Xr6o88HgKOiljhE+hOpf4x9pGuT1a0p+PhtgnAIFqoEFGWx0dKNJopoS9mTWrwcXi2DmCgcBkcCXufgfHhgExAWVRgEoV5IGXuNUkCmPZNFdNykALq9R1A4sgmhZWxRTGI3GYgu7w0WZ0ZuUkER6W1OKRO8zUlamy1dX4vW1dHur3NyYRCbHvDy3RmYAZ0TtvTMy7ibCtya9XxUeNloxEAXLxVzhG6NgKRFo/SpV15/6v0PFXM5jXVnW4+v3EpWlrcqTJeo26Le3z9wpHyzSBylENNK6j6dIuPly8kNDw6CVmlcIghuTsn//b4if7vwwwf36EQvA3fh/EvmCGwusGHwMgIX/WggcsL4YGdW6AioIXUrtfdsMyDzTTQDypL2M1+TeJyX45DIYPAqh+BQTLbUaDhFq4OJThzBV2k5HyJhGERsCkJVeEkTSG0bcMVTSh2ipXzgK/OFKpgjrLHNlRGnjuonRCHqwT+gdLYGYRcflR4z7ZDgvjuhX5K0PQ5WX5XSHC/IcO7ZbrEUCBKYZWuk1nCaClWlAJ3kSWZuiCE0fyh3NSmvCkCGQB6wn0HPIIvDRQle+f4Si3cTgjr4e5xVim35yUMmVAGKnWEB99/LO5iaqCRGAgJEZaCUbmnCCgLV50QA5IpdGxFaNQhkWoIp8fdX8fceAMLRFM6JiyWyWcae6GJnW9nLu0u+HBezTfJI+y5QCAAAA') format('woff2'),
  url('iconfont.woff?t=1547949671452') format('woff'),
  url('iconfont.ttf?t=1547949671452') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1547949671452#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dankuangguanbianniu:before {
  content: "\e6be";
}

.icon-weibiaoti--:before {
  content: "\e60e";
}

