*{
    padding: 0;
    margin: 0
}
body{
    width: 100%;
  }
  .guessingSuccessTop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .guessingSuccessView{
    padding: 90px 0px 30px 0px;
  }
  .guessingSuccessText{
    padding: 0px 0px 20px 0px;
    font-size:16px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:#0C2281;
    line-height:24px;
  }
  .guessingtext{
    padding: 0px 0px 53px 0px;
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(126,141,194,1);
    line-height:24px;
  }
  .successimg
  {
    width: 60px;
    height: 60px;
  }
  .success{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
  .success {
    width: 70%;
    background:#4C34D5;
    border-radius:25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:16px;
    font-family:PingFangSC-Medium;
    padding: 15px;
    color: #fff
  }