* {
    padding: 0;
    margin: 0
}

html,
body {
    width: 100%;
    background: rgba(36, 36, 36, 1);
    font-size: 14px;
    color: rgba(254, 254, 254, 1);
    position: relative;
    font-family:Microsoft Yahei
}

.main {
    width: 1200px;
    margin: 0 auto
}

ul,
li {
    list-style: none;
}

.top_tab {
    padding: 28px 35px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    position: relative\9;
}

.final_content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-left: 15px;
    text-align: center
}

.final_content span {
    width: 382px;
    height: 54px;
    line-height: 54px;
    background: rgba(20, 23, 26, 1);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold
}

.final_content span.active {
    background: rgba(248, 172, 24, 1);
    color: rgba(20, 23, 26, 1)
}
.content { padding: 0 35px;}
.child_tab ul,
.topchild_tab ul {
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    scrollbar-width: transparent;
    -ms-overflow-style: none;

}
.topdata_list{
    margin: 0 25px !important;
}

.child_tab ul li,
.topchild_tab ul li{
    width: 128px;
    background: rgba(20, 23, 26, 1);
    margin-right: 15px;
    font-size: 20px;
    padding: 8px 0;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-weight: bold
}
.topchild_tab ul li{
    margin-right: 31px;
}
.child_tab ul li{
    width: 158px;
    font-size:22px;
    padding: 10px 0;
}

.child_tab ul li.active,
.topchild_tab ul li.active{
    background: rgba(248, 172, 24, 1);
    color: rgba(20, 23, 26, 1);
    background-color: #f8ac18 \9;
    color: #1d1e1c \9
}

.child_tab ul li:last-child,
.topchild_tab ul li:last-child {
    margin-right: 0px
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

/*  */
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    color: rgba(254, 254, 254, 1);
    table-layout: fixed;
    display: table
}

th {
    text-align: center
}

th,
tr {
    border: none
}


thead,
tr {
    width: 100%;
    height: 54px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
td{
    width: 100%
}
tbody tr{
    height: 66px;
}


thead,
tbody tr:nth-child(2n) {
    background-color: #131212;
}

tbody tr:nth-child(odd) {
    background-color: #2c2b2c
}

.team_playername {
    width: 141px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
tbody{
    width: 100%;
    min-height: 580px;
    max-height: 660px;
    overflow: auto;
    display: inline-block

}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.content_tbody{
    background: #363636
}

.nolength{
width: 100%;
line-height: 660px

}

/* 滚动条 */
.data_list::-webkit-scrollbar,
.topdata_list::-webkit-scrollbar,
.jointeam_content::-webkit-scrollbar{
    width: 0;
    height: 0;
    background-color: transparent;
}
.content_tbody::-webkit-scrollbar {
    width: 5px;
    min-height:28px;
    background:rgba(19,17,17,1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.content_tbody::-webkit-scrollbar-thumb {
    background-clip:padding-box;
    width: 5px;
    min-height:28px;
    background:rgba(84,84,84,1);
    border-radius:8px;
    cursor: pointer;
}
.content_tbody::-webkit-scrollbar-thumb:hover {
    background:rgba(84,84,84,1);
}
.coloryellow{
    color:rgba(248,164,32,1);
}
.content_tbody tr td:nth-child(n+3){
    font-size: 18px;
    font-family:PingFangSC-Medium;
    font-weight:500;
}
.child_tab,
.topchild_tab{
    position: relative;
    overflow: hidden;
    /* margin: 0 19px */
}
.topchild_tab{
    margin: 0 113px;
    margin-bottom: 32px;
}
.bd,
.topbd{
    margin: 0 53px;
}
.topbd{
    margin: 0 45px;
}

.hd img,
.tophd img{
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 999;
    filter:alpha(opacity=50);opacity:0.5;
    cursor: pointer;
}
.prev,
.topprev{
    left: 0px;
}
.next,
.topnext{
    right: 0px;
}
.next:hover,
.topnext:hover,
.prev:hover,
.topprev:hover{
    filter:alpha(opacity=100);opacity:1;
}
.data_table{
    margin-top: 20px
}
.jointeam_content{
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-width: transparent;
    -ms-overflow-style: none;
    padding: 0 3px;

}

.join_itemtext{
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.join_item:nth-child(8n) {
    margin-right: 0;
}
/* .game_team{
    display: none;
} */
.team_logobox{
  width:42px;
  height:33px;
  margin-right:12px;
  flex-shrink: 0;
  /* display: block; */
}
.team_nologobox {
    display: none;
}
.team_name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.team_content{
    display: flex;
    align-items: center;
}
.join_item{
    width: 130px;
    display: flex;
    flex-direction: column;
    margin-right: 22px;
    margin-bottom: 30px;
    font-size:18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* border: 1px solid red; */
    height: 170px;
    justify-content: space-between;
}
.jion_itemimg{
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
}
.jion_itemimgdefa {
    width: 130px;
    height: 100px;
    margin-bottom: 10px;
}