* {
    padding: 0;
    margin: 0
}

html,
body {
    width: 100%;
    background:rgba(40,40,40,1);
    font-size: 14px;
    color: #fff;
    font-family:Microsoft Yahei;
    font-weight:400;
}

.main {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
}
ol,ul{ margin-bottom: 0 }

.top_tab {
    padding: 28px 35px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    position: relative\9;
}

.final_content {
    width: 940px;
    position: relative;
}

.final_content span {
    font-size: 20px;
}

.final_content span.active {
    background: rgba(248, 172, 24, 1);
    color: rgba(20, 23, 26, 1);
    background-color: #f9b518 \9;
    color: #1d1e1c \9
}
.content{padding: 0 35px;}

.weekfinal_name,
.numfinal_name {
    padding: 15px 169px;
    background: rgba(20, 23, 26, 1);
    color: #fff;
    cursor: pointer;
    font-weight: bold
}

.integralRule {
    border: 2px solid rgba(248, 172, 24, 1);
    padding: 11px 21px;
    color: rgba(248, 172, 24, 1);
    font-size: 16px;
    position: absolute\9;
    right: 35px\9;
    top: 15px\9;
    border: 2px solid #f9b518 \9;
    color: #f9b518 \9;
    cursor: pointer;
}

.gamechild_tab{
    width: 872px;
}

.child_tab ul,
.gamechild_tab ul {
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    scrollbar-width: transparent;
    -ms-overflow-style: none;

}

.child_tab ul li,
.gamechild_tab ul li{
    width: 128px;
    background: rgba(20, 23, 26, 1);
    margin-right: 15px;
    font-size: 18px;
    padding: 9px 0;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-weight: bold
}
.gamechild_tab ul li{
    margin-right: 30px;
}
.child_tab ul li{
    width: 158px;
    padding: 12px 0;
}
.child_tab ul li.active,
.gamechild_tab ul li.active{
    background: rgba(248, 172, 24, 1);
    color: rgba(20, 23, 28, 1);
    background-color: #f8ac18 \9;
    color: #1d1e1c \9
}

.child_tab ul li:last-child,
.gamechild_tab ul li:last-child{
    margin-right: 0px
}

/*滚动条美化*/
.data_list::-webkit-scrollbar,
.gamedata_list::-webkit-scrollbar,
.jointeam_content::-webkit-scrollbar{
    width: 0;
    height: 0;
    background-color: transparent;
}
.content_tbody::-webkit-scrollbar{
    width: 5px;
    min-height:28px;
    background:rgba(19,17,17,1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.content_tbody::-webkit-scrollbar-thumb{
    background-clip:padding-box;
    width: 5px;
    min-height:28px;
    background:rgba(84,84,84,1);
    border-radius:8px;
    cursor: pointer;
}
.content_tbody::-webkit-scrollbar-thumb:hover{
    background:rgba(84,84,84,1);
}

/* 数据 */
.data_msg {
    margin-top: 20px;
    background: rgba(25, 24, 24, 1);
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
}

.data_content {
    background: rgba(42, 42, 42, 1);
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
}

.team,
.integral {
    width: 0;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 2;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}

.session {
    width: 0;
    -webkit-box-flex: 5;
    -ms-flex: 5;
    -webkit-flex: 5;
    flex: 5;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
}

.session span,
.ranking {
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;

}

.team_logo {
    width: 42px;
    height: 33px;
    margin-right: 20px;
}

.team_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold
}

.retractable {
    color: rgba(48, 32, 11, 1);
    padding: 8px 19px;
    background: rgba(248, 164, 32, 1);
    border-radius: 4px;
    background-color: #f9ae23 \9;
    color: #3e2808 \9;
    cursor: pointer;
    font-size: 14px;
}

.data_subcontent {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    background: rgba(47, 47, 47, 1);
}

.subcontent_item {
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 13px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.item_content {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: 1px solid rgba(94, 89, 94, 1);

}

.subcontent_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 4px
}

.killnum {
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.total_kill,
.session_kill {
    color: rgba(248, 164, 32, 1)
}

.subcontent_item:last-child .item_content {
    border-right: 0
}

.content_list {
    margin-bottom: 2px
}

.slide_subcontent {
    display: none
}

/* 积分规则 */
.integrationRule {
    padding: 20px;
    position: absolute;
    top: 85px;
    right: 35px;
    font-size: 12px;
    background: rgba(25, 25, 25, 1);
    border: 1px solid rgba(52, 52, 52, 1);
    display: none;
    z-index: 1111;
}

.integrationRule table {
    border: 1px solid rgba(52, 52, 52, 1);
    border-collapse: collapse;
    text-align: center;
}

.integrationRule table tr,
.integrationRule td {
    border: 1px solid rgba(52, 52, 52, 1);
    padding: 6px 60px;
}

.team_content {
    height: 600px;
    overflow-y: scroll;
}

.yellowColor {
    color: rgba(249, 174, 35, 1);
}

.totalintegral {
    display: none
}

.data_table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    margin-top: 20px;
    /* word-wrap: bread-word;
    word-break: break-all; */

}

.team_msg {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: start
}

.data_table thead {
    background-color: #1a1919;
}

.data_table th {
    text-align: center;
    height: 54px;
}

.data_table td {
    height: 66px;
}

.parent{
    background-color: #303030;
    margin-bottom: 2px
    /*box-shadow: 0px 0px 1px #282828;*/
}
.sub {
    width: 300px;
    background-color: #353635
}

.subaggregate {
    display: inline-block;
    width: 278px;
    border-right: 1px solid rgba(94, 89, 94, 1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.subaggregate_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.subaggregate:last-child {
    border-right: 0
}
.drumstick{
    width: 28px;
    height: 20px;
}
.bottom{
    margin-top: 32px;
}

.drumstickList:last-child{
    margin-right: 0
}
.drumstick_box{
    width:166px;
    height:50px;
    background:rgba(34,34,34,1);
    border-radius:6px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center
}
.content_tbody{
    width: 100%;
    height: 528px;
    overflow: auto;
    display: inline-block;
    background: #363636;
}

.data_table thead, 
.data_table tbody tr {
    display:table;
    width:100%;
    box-shadow: 0px 0px 1px #282828;
    table-layout:fixed;
}
.data_table thead tr{
    font-size: 14px;
}
.parent td{
    font-size: 18px;
}
.parent td span,
.parent td img{
    vertical-align: middle;
}
.coloryellow{
    color:rgba(248,164,32,1);
}
.bottom_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
}
.drumstickList{
    flex: 1;
    background:rgba(19,22,27,1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 17px 0;
    margin-right: 5px;
}
.nolength{
    line-height: 528px
}
.child_tab{
    position: relative;
    overflow: hidden
}
.bd{
    margin: 0 53px;
}

.hd img,
.gamechild_hd img{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 999;
    filter:alpha(opacity=50);opacity:0.5;
    cursor: pointer;

}
.prev,
.gameprev{
    top: 5px;
    left: 0px;
}
.next,
.gamenext{
    top: 5px;
    right: 0px;
}
.next,
.prev{
    top: 7px;
}
.prev:hover,
.gameprev:hover,
.next:hover,
.gamenext:hover{
    filter:alpha(opacity=100);opacity:1;
}
.jointeam_content{
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-width: transparent;
    -ms-overflow-style: none;
    padding: 0 3px;
}
.join_item{
    width: 130px;
    display: flex;
    flex-direction: column;
    margin-right: 22px;
    margin-bottom: 30px;
    font-size:18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 170px;
    justify-content: space-between;
}
.jion_itemText{
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.join_item:nth-child(8n) {
    margin-right: 0;
}
.gamedata_list li.active{
    background:rgba(249,181,25,1);
    color:rgba(20,23,28,1);
}
.game_team{
    display: none;
}
.join_item_logo{
    width: 130px; 
    height: 130px; 
    margin-bottom: 10px;
}
.join_item_logodefa {
    width: 130px; 
    height: 100px; 
    margin-bottom: 10px;
}
