* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
}
.selectbox,
  .noselectbox {
      margin: 0;
  }
.mescroll {
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  height: auto;
  /*如设置bottom:50px,则需height:auto才能生效*/
  /* background: #FBF8FB; */
  background: #ffffff;
}

.commentinfo {
  background: #FBF9F9;
  min-height: 210px;
}
.headerWrap{
  /* width: 100%; */
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid rgba(242, 242, 242, 1); */
  font-size: 18px;
  color: #000000;
  padding: 5px 0 5px 0;
  font-weight: 700;
  padding: 0 12px;

}
.centerWrap{
  width: 100%;
}
.tabTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  color: #D7AB00;
  text-align: center;
  border-bottom: 1px solid rgba(242, 242, 242, 1);
}
.listWrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(242, 242, 242, 1);
  padding-top: 15px;
  padding-bottom: 20px;
}
.listWrap_name{
  width: 60%;
  font-family:PingFangSC-Regular,PingFang SC;
  white-space:nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  overflow:hidden;
  font-size: 15px;
  color: #333333;
}
.listWrap_time{
  width: 40%;
  white-space:nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  overflow:hidden;
  font-family:PingFangSC-Regular,PingFang SC;
  font-size: 15px;
  color: #808080;
}



.centercenterrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.gamefooter-msg{
  font-size:11px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:16px;
}
.gamefooter-left{
  width:44px;
  height:1px;
  background:linear-gradient(270deg,rgba(153,153,153,1) 0%,rgba(201,201,201,0) 100%);
  border-radius:1px;
}
.gamefooter-right{
  width:44px;
  height:1px;
  background:linear-gradient(270deg,rgba(201,201,201,0) 0%,rgba(153,153,153,1) 100%);
}