html,
body {
    font-family: PingFangSC-Regular;
    color: #333333
}

.tab-nav {
    width: 100%;
    height: 11vw;
}

.tab-nav .tab-nav-item {
    font-size: 16px;
    color: rgba(37, 39, 42, 1);
    text-align: center;
    line-height: 11vw;
    height: 11vw
}

.tab-active {
    font-family: PingFangSC-Medium !important;
    color: #333333 !important;
}

.tab-nav-item.tab-active:before {
    z-index: 9999;
}

.tab-nav:after,
.tab-nav-item:after {
    width: 0!important;
    height: 0!important;
}

.tab-nav-item.tab-active {
    color: rgba(255, 148, 0, 1) !important;
}

.tab-panel .tab-panel-item.tab-active {
    background-color: #f5f5f5;
}

.tab-nav-item.tab-active:before {
    width: 30% !important;
    left: 70% !important;
    background: rgba(255, 148, 0, 1)
}

.tab-nav {
    position: fixed;
    z-index: 999;
}

.table-view {
    padding-top: 40px
}

.tab-panel {
    background-color: #f5f5f5 !important;
}

.mescroll {
    position: fixed;
}

.ticket {
    width: 100%;
    height: 22vw;
    display: flex;
    position: relative;
    margin-bottom: 10px;
    background: #FFFFFF;
}

.ticketOpcity {
    width: 100%;
    height: 22vw;
    display: flex;
    position: relative;
    margin-bottom: 10px;
    background: #FFFFFF;
    opacity: 0.5
}

.ticket-left {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ff9400;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal
}

.ticket-right {
    flex: 7;
    display: flex;
    background: #FFFFFF;
    flex-direction: column
}

.ticket-right span {
    padding: 0 10px;
}

.ticket-left:before {
    content: ' ';
    width: 0;
    height: 100%;
    position: absolute;
    top: 6px;
}

.ticket-left:before {
    border-right: 6px dotted #F5F5F5;
    left: -3px;
}

.ticket-left-top {
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal
}

.default-ticket {
    height: 400px;
    display: flex;
    color: #AAAAAA;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.default-ticket img {
    width: 50%;
}

.default-ticket span {
    margin-top: 10px;
}

.opacity {
    opacity: 0.5;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.mescroll-upwarp {
    padding-top: 0!important;
}


/* 新增样式 */

.ticket-information {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 10px
}

.ticket-using {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.ticket-time {
    color: rgba(153, 153, 153, 1);
    font-size: 12px;
}

.usering {
    font-size: 12px;
    color: rgba(255, 148, 0, 1)
}