* {
    padding: 0;
    margin: 0
}

html,
body {
    font-family: PingFangSC-Regular;
    position: relative;
    width: 100%;
    height: 100%;

}

.share-img {
    width: 100%;
    height: 38vh;
    background: url('../image/icon-detail-bg.png') no-repeat;
    background-size: 100%;
    position: absolute
}

.contain {
    display: flex;
}

.details {
    width: 74vw;
    margin: 0 auto;
    background-color: #fff;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 4px 0px 32px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 43vw;
}



@media screen and (min-width:768px) and (max-width:1024px) {
    .details {
        margin-top: 32vh;
    }

}

.details-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


.des-txt {
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(62, 71, 85, 1);
    line-height: 22px;
    padding: 18px 0px;
}

.des-money {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.des-money img {
    width: 101px;
    height: 78px;
    position: absolute;
    z-index: 1;
    display: none;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    top: 50%;
}

.des-withdraw {
    width: 53px;
    height: 21px;
    background: url('../image/icon-detail-withdraw.png') no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    font-size: 12px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 21px;
    position: absolute;
    right: 10%;
    top: -15px
}

.money-num {
    font-size: 60px;
    font-family: PingFangSC-Medium;
    font-weight: bold;
    color: rgba(62, 71, 85, 1);
    line-height: 93px;
    /*text-align: center;*/
    /*position: absolute;*/
    /*top: 86%;*/
    /*left: 50%;*/
    /*transform: translateY(-80%) translateX(-50%);*/

}

.money-txt {
    /*line-height: 22px;*/
    /*position: absolute;*/
    /*right: 20px;*/
    /*bottom: 10px;*/
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: bold;
    color: rgba(62, 71, 85, 1);
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.goLook, .sharreGet {
    width: 172px;
    height: 50px;
    background: rgba(253, 228, 35, 1);
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    margin: 12px 0px;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(144, 89, 0, 1);
    display: none
}
.pasted{
    width: 172px;
    height: 50px;
    background:rgba(235,236,240,1);
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    margin: 12px 0px;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(144, 89, 0, 1);
    display: none
}

.des-time {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(161, 166, 172, 1);
    line-height: 20px;
    margin-bottom: 12px;
}

.line {
    width: 90%;
    border-bottom: 2px dashed #ccc;
    margin: 0 auto;
    margin-top: 40px;

}

.contain-txt {

    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(161, 166, 172, 1);
    line-height: 20px;
    margin: 0 auto;
    margin-top: 29px;
    text-align: center;
}

.share-msg {
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    position: absolute;
    top: 0;
    display: none
}

.share-msg .mask {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    opacity: 0.1;
    position: absolute
}

.popup {
    /* display: none */
    height: 16.2vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 999;
}

.pop-share {
    width: 100%;
    height: 30px;
    position: relative;
}

.pop-txt {
    text-align: center;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(161, 166, 172, 1);
    padding-top: 5px;
}

.pop-line {
    width: 90%;
    height: 2px;
    background: url("../image/icon-detail-emptyline.png") center/100% 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.pop-chart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.pop-chart p {
    font-size: 11px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    text-align: center;
}

.chart-weixin img {
    width: 40px;
    height: 33px;
}

.pop-qq img {
    width: 31px;
    height: 37px;
}