html,body{
    font-family: PingFangSC-Regular;
    color: #333333
}

.tab-nav{
    width: 100%;
    height: 1.2rem;
}

.tab-nav .tab-nav-item{
    font-size: 16px;
    color: #999999;
    text-align: center;
    line-height: 1.2rem;
    height: 1.2rem;
}

.tab-active{
    font-family: PingFangSC-Medium !important;
    color: #333333 !important;
}

.tab-nav-item.tab-active:before{
    background: #FFDA21 !important;
    z-index: 9999;
}

.tab-nav:after,.tab-nav-item:after{
    width: 0!important;
    height: 0!important;
}

.tab-panel .tab-panel-item.tab-active{
    background-color: #f5f5f5;
}

.tab-nav{
    position: fixed;
    z-index: 999;
}

.table-view{
    padding-top: 60px
}

.tab-panel{
    background-color:#f5f5f5 !important;
}

.mescroll {
    position: fixed;
}

.ticket{
    height: 21vw;
    display: flex;
    position: relative;
    margin-bottom: 10px;
    background: #FFFFFF;
}

.ticket-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgba(242,79,79,1);
    color:rgba(255,255,255,1);
}

.ticket-right{
    flex: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
}
.ticket-get{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ticket-get .get{
    width: 55px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 13px;
    background:rgba(242,79,79,1);
    color: #fff;
}
.geted{
    background:rgba(235,236,240,1);
    width: 55px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 13px;
    color:rgba(161,166,172,1);
}

.ticket-right span{
    padding: 0 10px;
}

.ticket-left:before {
    content: ' ';
    width: 0;
    height: 100%;
    position: absolute;
    top: 6px;
}

.ticket-left:before {
    border-right: 6px dotted #F5F5F5;
    left: -3px;
}
.ticket-right-top, .ticket-left-top{
    margin-bottom: 5px;
}

.default-ticket{
    height: 400px;
    display: flex;
    color: #AAAAAA;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.default-ticket img{
    width: 50%;
}

.default-ticket span{
    margin-top: 10px;
}

.opacity{
    opacity: 0.5;
}

.font-12{
    font-size: 12px;
}

.font-14{
    font-size: 14px;
}

.font-16{
    font-size: 16px;
}

.mescroll-upwarp{
    padding-top: 0!important;
}