*,body,html{
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #333333;
    font-family: "微软雅黑";
}
/*store*/
.header-top{
    height: 150px;
    width: 100%;
    display: block;
    background: url('../img/icon-bg.png') 0 -40px no-repeat;
    background-size: cover;
}
.draw{
    height: 180px;
    width: 100%;
    margin-top: -135px;
}

@media screen and (min-width: 376px) and (max-width:750px){
    .draw{
        height: 190px;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper{
    width: 35%;
    height: 100%;
}

.not{
    text-align: center;
    width: 100%;
}

.swiper-container-free-mode>.swiper-wrapper{
    margin: 0 !important;
}

.swiper-slide {
    text-align: center;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 4px;
    background-color:rgba(0,0,0,0);
}

.card{
    position: relative;
    width: 100% !important;
    height: 0px;
    padding-top: 100%;
    box-shadow: 0px 1px 8px #dadada;
}

.swiper-slide img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.goods-name{
    position: absolute;
    width: 100%;
    /*bottom: 5px;*/
    padding: 10px 0;
    /*margin-top: 100%;*/
    background-color: #ffffff;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    z-index: 100;
    align-items: center;
    -webkit-align-items: center;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 8px #dadada;
}

.draw-title{
    margin-bottom: 20px;
    font-size: 22px;
}
.draw-title,.swiper-slide:first-child{
    margin-left: 15px;
}
.page-down{
    margin-top: 17%;
    padding: 0 4%;
}
.page-down-top{
    margin-left: -7px;
    margin-bottom: 20px;
    float: left;
}
.page-down-top img{
    width: 18px;
    height: 40px;
    float: left;
}
.page-down-top span{
    float: left;
    line-height: 30px;
    font-size: 20px;
}
.list{
    clear: both;
}
.container{
    height: 80px;
    margin-bottom: 20px;
}
.container-left{
    height: 100%;
    width: 30%;
    float: left;
    margin-right: 15px;
    border-radius: 4px;
}
.container-left img{
    width: 110px;
    height: 80px;
    border-radius: 4px;
}
.container-right{
    height: 100%;
    width: 65%;
    float: left;
    border-bottom: 1px solid #DDDDDD;
}
.container-right p{
    font-size: 18px;margin-bottom: 12px
}
.tips{
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    background: linear-gradient(90deg,#FFDB00,#FFC12F);
}

/*draw*/
.pages{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ffffff;
}
footer{
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #DDDDDD;
}
.footer-left,.footer-right{
    width: 50%;
    height: 60px;
    line-height: 60px;
    display: inline-block;
}
.footer-left,.price{
    background: #ffffff;
    color: #F04343;
}
.footer-right{
    background-image: linear-gradient(-90deg,#FFC12F 4%, #FFDB00 81%);
}

.header{
    position: relative;
    width: 100%;
    height: 0px;
    padding-top: 100%;
    display: block;
}

.header img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content{
    padding: 0 15px;
    display: block;
}
.content-top{
    border-bottom: 1px solid #DDDDDD;
    padding: 18px 0;
}
.content-top .title{
    font-size: 18px;
    font-weight: bold;
    max-width: 60%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.content-top .num{
    float: right;
    font-size: 12px;
    color: #999999;
    margin-top: 8px;
}

.num .stock{
    font-size: 12px;
    color: #999999;
}

.content-rule{
    padding: 20px 0;
}
.content-rule p{
    padding-bottom: 10px;
}
.block{
    height: 60px;
    width: 100%;
    display: block;
}

/*弹窗*/
.modal{
    position: fixed;
    left: 0;
    top: 20%;
    width:100%;
    z-index: 101;
    display: none;
}

.modal img{
    position: relative;
    z-index: 1050;
}

.toast{
    position: absolute;
    width: 100%;
    bottom: 20%;
    opacity: 0;
    text-align: center;
}

.toast span{
    padding: 15px 30px;
    background-color: rgba(0,0,0,0.8);
    color: #ffffff;
    border-radius: 6px
}

.isShow{
    opacity: 1 !important;
    transition: opacity .15s linear;
}

.modal-line-box{
    clear: both;
    padding: 45px 0;
}
.modal-line-box img{
    width: 100px;
    height: 100px;
}
.modal-line-box .text{
    margin-top: 20px;
}
.mask{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
    z-index: 100;
    background-color:rgba(0,0,0,0.4);
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .draw{
        height: 200px;
    }
    .card{
        max-width: 150px;
        padding-top: 150px;
    }
    .swiper-slide img{
        max-width: 150px;
        max-height: 150px;
    }
    .page-down {
        margin-top: 10%;
    }
    .modal img {
        width: 60% !important;
    }
}