* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background: rgba(245, 246, 247, 1);
    font-family: PingFangSC;
    font-size: 14px
}

.scoll-view {
    white-space: nowrap;
    padding: 0px 15px;
    overflow-x: scroll;
    box-shadow: 0px 0px 0px 0px rgba(221, 221, 221, 1);
    background: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

.tab-item {
    margin-right: 20px;
    display: inline-block;
    color: rgba(153, 153, 153, 1);
    padding: 14px 0px 12px 0
}

.tab-item.tab-active {
    color: rgba(37, 39, 42, 1);
    font-weight: 600;
    font-family: PingFangSC-Semibold;
    border-bottom: 2px solid rgba(255, 148, 0, 1)
}

.gamelist,
.goDetail {
    background-color: #fff;
    display: flex;
    padding: 13px 15px;
    align-items: center
}

.time_content {
    width: 56px;
    background: rgba(237, 238, 240, 1);
    border-radius: 4px;
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 6px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center

}
.match_format{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pubg_content{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-between

}
.pubg_content img{ 
    width: 16px;
    height: 16px;
    margin-right: 3px

}
.pubg_name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size:10px;
    color:rgba(37,39,42,1);

}
.pubg_msg{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5px
}
.pubg_msg:last-child{
    margin-right: 0
}

.msg_content {
    display: flex;
    align-items: center
}
.msg_contentshow{
    display: none
}

.match_content {
    flex: 7;
    display: flex;
    padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-direction: column
}

.analyze {
    flex: 1;
    display: flex;
    justify-content: flex-end
}

.time {
    font-size: 12px;
    font-weight: 500;
    color: rgba(37, 39, 42, 1);
}

.title_time {
    color: rgba(255, 148, 0, 1);
    padding: 6px 15px 0px 15px;
    font-family:PingFangSC;
    font-weight:500;

}

.title_name {
    color: rgba(153, 153, 153, 1);
    font-size: 12px;
    padding: 6px 15px 6px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


}

.left_msg,
.right_msg {
    display: flex;
    align-items: center;
    flex: 3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: space-between;
}

.game_vs {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 148, 0, 1);
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.left_msg img,
.right_msg img,
.middle_img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 7px;
    flex-grow: 0;
    flex-shrink: 0
}

.team_name {
    width: 100%;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.match_schedule {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgba(153, 153, 153, 1);
    font-size: 12px;
    padding-bottom: 7px
}

.game_item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.middle_content {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.result{
    display: none;
    color:rgba(255,148,0,1);
}
.showVs{
    display: none
}
.vs{
    color:rgba(37,39,42,1);
    font-size:10px;
}
.bureauShow{
    display: none
}
.pubgShow{
    display: none
}

.nolength{
    width: 100%;
    text-align: center;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.nolength img{
    width: 172px;
    height: 118px;
    margin-bottom: 24px
}
.nolength span{
    color:rgba(170,170,170,1)
}
.pubg_msgcontent{
    display: flex;
    background-color: saddlebrown
}
.analyzesShow{
    visibility: hidden;
}
.pubg_contentShow{
    display: none
}
    /* 分页 */
    .mescroll{
        position: fixed;
        top: 46px;
        bottom: 0;
        height: auto;
    }