* {
    padding: 0;
    margin: 0
}

body {
    max-width: 100% !important;
    font-size: 14px;
    /* overflow: auto; */
    position: relative;
    background:rgba(245,246,247,1);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

body,
html {
    height: auto !important;
}

ul,
li {
    list-style: none;
}
.commentMsg{
    width: 100%;
    padding: 15px;
    padding-bottom: 0;
}
.commentList{
    margin-bottom: 50px
}
.pullmessage{
    padding: 15px 15px 30px 15px;
    background-color: #fff;
}
.pullmessage_title{
    font-size:18px;
    color:rgba(37,39,42,1);
    font-weight:600;
}


input,
textarea {
    width: 80%;
    background: rgba(245, 246, 247, 1);
    border-radius: 4px;
    border: 1px solid rgba(221, 221, 221, 1);
    outline: none;
    padding: 0px 15px;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(37, 39, 42, 0.5);
    margin: 10px 0
}

.msg img {
    width: 12px;
    height: 10px;
    margin-right: 4px
}

.picture {
    width: 92vw;
    height: 46vw;
    border: 1px solid red
}

.line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.line .lines {
    flex: 1;
    height: 1px !important;
    background-color: rgba(37, 39, 42, 0.1);
}

.line span {
    padding: 0 6px;
    font-size: 12px;
    color: rgba(37, 39, 42, 0.5)
}

.praise {
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.praising,
.nopraise {
    width: 18px;
    height: 15px;
}

.collect {
    width: 6px;
    height: 15px;
    margin-bottom: 3px
}

.praise-item {
    width: 37vw;
    padding: 6px 0;
    background: rgba(237, 238, 240, 1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.collect-item {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 评论 */
.reply-num {
    padding: 15px 0;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: rgba(48, 51, 53, 1);
    display: flex;
    align-items: center;
    justify-content: space-between
}

.sort {
    display: flex;
    align-items: center;

}

.sort-img {
    width: 16px;
    height: 12px;
    padding-right: 5px
}

.sort-time,
.sort-hot {
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(37, 39, 42, 1)
}

.reply-item {
    padding-bottom: 20px;
}
.reply-item:last-child{
    padding-bottom: 0px
}

.publish-txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.publish-head {
    display: flex
}

.publish-head .head-img {
    width: 40px;
    height: 40px !important;
    border-radius: 50%;
}

.publish-name {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    color: rgba(37, 39, 42, 0.5)
}

.publish-time {
    font-size: 12px;
    color: rgba(37, 39, 42, 0.3)
}

.publish-like {
    display: flex;
}

.like-up img {
    width: 18px;
    height: 15px !important;
    margin-right: 3px
}
.like-up{
    display: flex;
    align-items: center;
    cursor: pointer;
    /* margin-right: 15px */
}


.like-report {
    width: 20px;
    height: 20px !important;
    margin-left: 15px;
    cursor: pointer;
}

.publish-msg {
    padding-left: 50px;
    padding-bottom: 15px;
    color: rgba(37, 39, 42, 1)
}

.reply-message {
    background: rgba(237, 238, 240, 1);
    padding: 15px 10px;
    margin-top: 10px;
    border-radius: 6px
}

.reply-nomessage {
    display: none
}

.message-item {
    margin-bottom: 2px
}

.reply-info {
    color: rgba(37, 39, 42, 0.5)
}

.repla-name {
    color: rgba(37, 39, 42, 1)
}

.total-reply {
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 107, 187, 1);
    display: flex;
    align-items: center;
    cursor: pointer;
}


.num {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    color: rgba(153, 153, 153, 1)
}
.nolength{
    color: rgba(153, 153, 153, 1);
    margin-bottom: 60px;
    text-align: center
}

/* 底部 */
.comment {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 7px 15px;
    left: 0;
    right: 0;
    z-index: 99;
    padding-bottom: env(safe-area-inset-bottom)
}

.comment-msg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7px
}


.comment-bg {
    width: 38px;
    height: 38px !important;
    background: url("https://cdn.tinytiger.cn/icon-comment-bg.png") no-repeat 100%/100%;
    position: relative;
}

.comment-bg img {
    width: 22px;
    height: 22px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

::-webkit-input-placeholder {
    color: rgba(153, 153, 153, 1);
    padding: 8px 0
}

.reply-info{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    cursor: pointer;
}
.publish-info{
    cursor: pointer;
}


.nopost-message,
.post-message {
    width: 60px;

    background-color: #ccc;
    border-radius: 4px;
    height: 34px !important;
    line-height: 34px;
    text-align: center;
    margin-left: 15px;
    display: none
}

.post-message {
    background: rgba(255, 148, 0, 1);

}

.post-message span,
.nopost-message span {
    color: rgba(255, 255, 255, 1);
}


/* 弹框 */
.pup,
.pupReport,
.pupInput {
    position: absolute;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: none
}

.pup-mask,
.reportmask,
.inputmask {
    position: fixed;
    width: 100%;
    height: 100% !important;
    background: rgba(0, 0, 0, .8);
    top: 0;
    bottom: 0;

}

.reportContent,
.inputContent {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff;

}

.inputbar {
    padding: 15px;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}
.inputbar img{
    cursor: pointer;
}

.input {
    padding: 10px 15px;
    background-color: #fff
}

.inputmsg {
    background: rgba(245, 246, 247, 1);
    border-radius: 4px;
    padding: 15px
}

.textareainput {
    width: 90%;
    height: 50px;
    outline: none;
    border: none
}

.num {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px
}

.submit {
    width: 92%;
    background: rgba(255, 148, 0, 1);
    border-radius: 4px;
    padding: 13px 0;
    text-align: center;
    color: #fff;
    margin: 10px auto;
}

.confirm {
    text-align: center;
    color: rgba(255, 148, 0, 1);
    display: flex;
    justify-content: center;
    padding:8vw 0
}


.operateContent {
    position: fixed;
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    padding: 0 15px;
    flex-direction: column;
    left: 5%
}

.reportContent,
.inputContent {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff
}

.reportTxt {
    padding: 0 15px;
    display: flex;
    flex-direction: column
}

.report-choose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5vw 15px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 0px rgba(221, 221, 221, .3);
    border-bottom: 1px solid rgba(221, 221, 221, .3)
}
.report-choose span{
    color:rgba(153,153,153,1)

}
.report-choose .close-report{
    cursor: pointer;
}
.report-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.8vw 0;
    box-shadow: 0px 0px 0px 0px rgba(237, 238, 240, 1);
    border-bottom: 1px solid rgba(221, 221, 221, .3)
}
.report-item:nth-child(6),
.report-item:nth-child(7){
    border-bottom: 0
}

.reported {
    color: rgba(153, 153, 153, 1);
    display: flex
}

.reportedtxt {
    display: none
}

.noreportedtxt {
    display: block
}

.report-choose img {
    width: 12px;
    height: 12px;
}

.discuss {
    width: 100%;
    z-index: 222;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    opacity: 0.7978000000000001
}

.discuss span {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center
}

.discuss span:last-child {
    border-bottom: none
}

.cancel {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px
}

.cancel span {
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.replyBtn,
.copyBtn,
.reportBtn,
.cancelBtn,
.deleteBtn {
    font-size: 16px;
    color: rgba(51, 51, 51, 1)
}

.commentBtn {
    color: rgba(102, 102, 102, 1)
}

.reportBtn,
.deleteBtn {
    color: rgba(242, 79, 79, 1)
}
.nodeleteBtn,
.deleteBtn{
    display: none
}

.reply {
    width: 100%;
    height: 100%;
    position: relative;

}

.nocomment {
    text-align: center;
    padding-top: 50px
}

.mescroll-upwarp {
    margin-bottom: 35px
}
.mescroll-upwarp{
    padding: 0;
    padding-bottom: 20px
}

footer,
.inputContent{
    padding-bottom: env(safe-area-inset-bottom)
}