* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    color: #333;
    letter-spacing: .034em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 16px;
}

a {
    color: #576b95;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.not_in_mm .rich_media_inner {
    position: relative;
}

.rich_media_area_primary {
    padding: 20px 16px 12px;
}

.rich_media_content * {
    max-width: 100% !important;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    word-wrap: break-word !important;
}

.rich_media_meta_list em {
    font-style: normal;
}

