* {
  margin: 0;
  padding: 0;
}

[v-cloak] {
  display: none;
}

body {
  height: auto;
  background-color: #F7F7F7;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  -webkit-appearance: none;
}

ul li {
  list-style: none;
}

.textarea {
  width: 100%;
}

.upload {
  width: 100%;
  margin-top: 10px;
}

.upload-content {
  padding: 20px 10px 10px 10px;
  background-color: #fff;
}

.header {
  width: 100%;
  height: 44px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px 10px 0px 0px;
}

.headerMain {
  padding: 0 12px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.callBackBtn {
  width: 22px;
  height: 22px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.release {
  color: black;
  width: 60px;
  height: 30px;
  background: -webkit-linear-gradient(left, #FFE807, #FFCC03);
  background: -o-linear-gradient(left, #FFE807, #FFCC03);
  background: -moz-linear-gradient(left, #FFE807, #FFCC03);
  background: -ms-linear-gradient(left, #FFE807, #FFCC03);
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  border: none;
  outline: none;
}

.upload-imgs {
  margin: 20px 0 30px 0;
  font-size: 0;
  display: flex;
}

.upload-imgs li img {
  width: 100%;
  height: 80px;
}

.upload-imgs li {
  position: relative;
  width: 90px;
  height: 85px;
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #E6E6E6;
  text-align: center;
  vertical-align: middle;
  /* background-color: #ccc; */
}

.upload-imgs .add {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../img/addicn.png');
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  /* color: #ffffff;
  width: 100%;
  height: 80px; */
}

textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #D3D3D3;
  font-size: 15px;
}

textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #D3D3D3;
  font-size: 15px;
}

textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #D3D3D3;
  font-size: 15px;
}

textarea::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #D3D3D3;
  font-size: 15px;
}

.upload-imgs .add .icon {
  color: #E6E6E6;
  display: inline-block;
  font-weight: bold;
  font-size: 35px;
  /* border: 1px dashed #4a4949; */
}

.upload-imgs li .upload {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80px;
  height: 80px;
}

.upload-imgs .img {
  position: relative;
}

.upload-imgs .img img {
  vertical-align: middle;
}

.upload-imgs .img .close {
  z-index: 99;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 16px;
  background-color: red;
  border-radius: 20px;
}

.upload-imgs li {
  width: 80px;
  height: 80px;
  border-radius: 3px;
}

.upload-imgs li .img .close {
  display: block;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  right: -6px;
  top: -10px;
  font-size: 22px;
  color: #fff;
}

.sub-box {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-btn {
  width: 140px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background-color: cornflowerblue;
  border: none;
  border-radius: 5px;
  outline: none;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3333;
}

.modal-content {
  position: absolute;
  background-color: #4a4747;
  width: 100%;
  height: 100%;
}

.popWindow {
  background-color: #8D8D8D;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  z-index: 999;
  position: absolute;

}

.pop-content {
  color: #0C0C0C;
  display: block;
  position: fixed;
  text-align: center;
  bottom: 46%;
  font-size: 20px;
  font-family: 微软雅黑;
  width: 100%;
}

/* 弹框 */
.tip {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: none;
}

.tipContent {
  width: 80%;
  z-index: 99999999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
  padding: 20px 0 15px 0;
}

.mask {
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.3);
  z-index: 999999;
  position: fixed;
}

.button {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 15px;
}

.addClick {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(40, 40, 40, 1);
  line-height: 22px;
  width: 90px;
  height: 38px;
  background: linear-gradient(126deg, rgba(255, 232, 7, 1) 0%, rgba(255, 204, 3, 1) 100%);
  border-radius: 19px;
}